.Inicio {
    block-size: 1em;
    display: inline-block;
    fill: var(--iconFill);
    inline-size: 1em;
    position: absolute;
    top: 70px;
    right: 100px;
    width: 100px;
    padding: 10px;
    
  }
 #centrar{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 0px;

}
.titulo{
    text-align: center;
    padding: 0.25rem;
    font-size: 2rem;
    margin-bottom:2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
    color: #3c8405;

}