body{
    background: rgb(99,205,4);
    background: linear-gradient(0deg, rgba(99,205,4,1) 10%, rgba(5,134,33,1) 53%);
    
}

.Public,.item{
    text-align: center;
}
#peril{
    margin-bottom: -100000000px;
}
#nombre_usaurio{
    text-transform: capitalize;
 
}
