* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: auto;
    height: 100vh;
    background-image: linear-gradient(to right, #6e8de1 0%, #e688ff 100%);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    background-color: #596e7f;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}

.profile-box button{
    background-color: #fff;
    color: #ff574a;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(244, 67, 54, .5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 16px;
}

.menu-icon {
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
}
.setting-icon {
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
}
.profile-pic {
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 6px;
    margin-top: 40px;
}
.profile-bottom {
    background-color: #fff;
    color: #999;
    padding: 60px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    margin-top: -10px;

}

.profile-bottom img{
    width:15px;
    margin-top: 15px;
    cursor: pointer;
}

.profile-box h3 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
}
#full {
    color: rgb(194, 193, 193);
}

.social-media img{
    width: 20px;
    margin: 20px 5px;
    cursor: pointer;
}