:root {
--bs-blue: #0d6efd;
--bs-indigo: #6610f2;
--bs-purple: #6f42c1;
--bs-pink: #d63384;
--bs-red: #dc3545;
--bs-orange: #fd7e14;
--bs-yellow: #ffc800;
--bs-green: #198754;
--bs-teal: #20c997;
--bs-cyan: #0dcaf0;
--bs-white: #fff;
--bs-gray: #6c757d;
--bs-gray-dark: #343a40;
--bs-gray-100: #f8f9fa;
--bs-gray-200: #e9ecef;
--bs-gray-300: #dee2e6;
--bs-gray-400: #ced4da;
--bs-gray-500: #adb5bd;
--bs-gray-600: #6c757d;
--bs-gray-700: #495057;
--bs-gray-800: #343a40;
--bs-gray-900: #212529;
--bs-primary: #ffc800;
--bs-secondary: #6c757d;
--bs-success: #198754;
--bs-info: #0dcaf0;
--bs-warning: #ffc800;
--bs-danger: #dc3545;
--bs-light: #f8f9fa;
--bs-dark: #212529;
--bs-primary-rgb: 255, 200, 0;
--bs-secondary-rgb: 108, 117, 125;
--bs-success-rgb: 25, 135, 84;
--bs-info-rgb: 13, 202, 240;
--bs-warning-rgb: 255, 200, 0;
--bs-danger-rgb: 220, 53, 69;
--bs-light-rgb: 248, 249, 250;
--bs-dark-rgb: 33, 37, 41;
--bs-white-rgb: 255, 255, 255;
--bs-black-rgb: 0, 0, 0;
--bs-body-color-rgb: 33, 37, 41;
--bs-body-bg-rgb: 255, 255, 255;
--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
--bs-body-font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
--bs-body-font-size: 1rem;
--bs-body-font-weight: 400;
--bs-body-line-height: 1.5;
--bs-body-color: #212529;
--bs-body-bg: #fff;
}
*::before,
*::after {
box-sizing: border-box;
}
body {
padding-top: 6rem;
padding-bottom: 6rem;
background-image: url("https://i.pinimg.com/originals/0a/4d/cb/0a4dcb92fa2d3c601b58d72720d6bec4.jpg");
background-repeat: no-repeat;
backdrop-filter: blur(6px);
background-attachment: scroll;
background-position: center center;
background-size: cover;
z-index: -1
}

.Registro {
display: flex;
justify-content: center;
align-items: center;
height: auto;
}
.form {
margin-top: 7rem;
margin-right: center;
margin-left: center;
height: 30rem;
width: 25rem;
border-radius: 0.5rem;
padding: 1.25rem 2.5rem;
box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
background-color: white;
}
.tittle {
margin-bottom: 50px;
font-size: 50px;
}
.contenedor {
position: relative;
height: 45px;
width: 90%;
margin-bottom: 1rem;
}
.input {
position: absolute;
top: 0rem;
left: 0rem;
height: 100%;
width: 100%;
border: 1px solid black;
border-radius: 7px;
font-size: 16px;
padding: 0 20px;
outline: none;
background: none;
z-index: 1;
}

::placeholder {
color: transparent;
}
.label {
position: absolute;
top: 0.9rem;
left: 0.9rem;
padding: 0 4px;
font-size: 1rem;
transition: 0.5s;
z-index: 0;
color: gray;
background-color: white;
}
.submitBtn {
display: block;
margin-top: 30px;
margin-left: auto;
padding: 15px 30px;
border: none;
color: white;
border-radius: 6px;
cursor: pointer;
font-size: 16px;
background-color: #7DCE13;
}

.submitBtn:hover {
transform: translateY(-2px);
background-color: #5BB318 ;
}
.input:focus + .label {
top: -7px;
left: 3px;
z-index: 10;
font-size: 14px;
font-weight: 600;
color: #5BB318;
}
.input:focus {
border: 2px solid #5BB318;;
}
.input:not(:placeholder-shown)+ .label {
top: -7px;
left: 3px;
z-index: 10;
font-size: 14px;
font-weight: 600;}

/*Si el valor que el usuario escribe es valido, obtendra un color verde*/
form input[type="text"]:required:valid{
border:2px solid #5BB318;
}
/*caso contrario, el color sera rojo*/
form input[type="text"]:focus:required:invalid{
border:2px solid red;
}
.input:focus:required:invalid + .label {
top: -7px;
left: 3px;
z-index: 10;
font-size: 14px;
font-weight: 600;
color: red;
}
form input[type="email"]:required:valid{
border:2px solid #5BB318;
}
form input[type="email"]:focus:required:invalid{
border:2px solid red;
}
form input[type="password"]:required:valid{
border:2px solid #5BB318;
}
form input[type="password"]:focus:required:invalid{
border:2px solid red;
}
